/* 見出し H1 */
.markdown-source-view .HyperMD-header-1, /* 編集中 */
.markdown-preview-view h1                /* 閲覧表示 */
{
    border-bottom: double 5px !important;
    margin: 1m 0em !important;
    line-height: 1.5em !important;
    color: #882222;  /* brown */
}

/* 見出し H2 */
.markdown-source-view .HyperMD-header-2, /* 編集中 */
.markdown-preview-view h2                /* 閲覧表示 */
{
    border-bottom: solid 2px !important;
    margin: 0.8em 0em !important;
    color: #aa3333; /* red */
}

/* 見出し H3 */
.markdown-source-view .HyperMD-header-3, /* 編集中 */
.markdown-preview-view h3                /* 閲覧表示 */
{
    border-bottom: solid 1px !important;
    margin: 0.25em 0em !important;
    color: #dd6622; /* orange */
}

/* 見出し H4 */
.markdown-source-view .HyperMD-header-4, /* 編集中 */
.markdown-preview-view h4                /* 閲覧表示 */
{
    border-bottom: solid 1px !important;
    margin: 0.25em 0em !important;
    color: #228888; /* green */
}

/* 見出し H5 */
.markdown-source-view .HyperMD-header-5, /* 編集中 */
.markdown-preview-view h5                /* 閲覧表示 */
{
    border-bottom: dashed 1px !important;
    margin: 0em 0em !important;
    color: #226688; /* blue */
}

/* 見出し H6 */
.markdown-source-view .HyperMD-header-6, /* 編集中 */
.markdown-preview-view h6                /* 閲覧表示 */
{
    border-bottom: dotted 1px !important;
    margin: 0em 0em !important;
    color: #aa6666; /* pink */
}


/* 引用中のcode */
.markdown-preview-view blockquote pre,  /* 閲覧表示 */
.markdown-preview-view blockquote code  /* 閲覧表示 */
{
    background-color: #ece5e4 !important;
}

body {
    --h1-color: #882222; /* brown */
    --h2-color: #aa3333; /* red */
    --h3-color: #dd6622; /* orange */
    --h4-color: #228888; /* green */
    --h5-color: #226688; /* blue */
    --h6-color: #aa6666; /* pink */

    /* 編集中の引用背景 */
    --blockquote-background-color: #f8f1f0;

    /* リストアイテム 上下余白*/
    --list-spacing: 0.25em;

    /* ファイル名、文書名 */
    --inline-title-color: #805850;
    --inline-title-size: 1.8em;
    --inline-title-line-height: 0.5em;
}

.view-content .markdown-source-view,
.markdown-preview-view
{
    /* 全体の余白 */
          /* top right bottom left */
    padding: 0.5em 1em 0.5em 1em;
          /* top&bottom right&left */
    /*padding: 0em 0.75em;*/
}

/* ポップアッププレビューにに悪影響が出るので一旦OFF */
/* ファイル名、文書名 */
/*.view-content .markdown-source-view .inline-title, /* 編集中 */
/*.markdown-preview-view .mod-header .inline-title   /* 閲覧表示 */
.inline-title:not(.markdown-rendered)  /* ポップアップ除外(暫定) */
{
    line-height: 1.5em !important;
    padding-left: 0.5em !important;
    color:            white !important;
    background-color: black !important;

    border-top:    double 6px !important;
    border-bottom: double 6px !important;
    border-color:     #505080  !important;
}


/* Obsidian用インデント
   (1) 入れ子構造になっていない
   (2) 表示範囲だけHTMLレンダリングされる
   → 入れ込構造は無理。
   見出しと本文だけ区別する。
*/
/* 編集中 */
.markdown-source-view
{
  & :is(.HyperMD-header-2.cm-line,
      .HyperMD-header-3.cm-line,
      .HyperMD-header-4.cm-line,
      .HyperMD-header-5.cm-line,
      .HyperMD-header-6.cm-line
     ) ~ div.cm-line:not(.HyperMD-header),
    .HyperMD-header.cm-line ~ div.cm-embed-block
  {
    margin-left: 1em !important;
  }
}
 /* 閲覧中 */
.markdown-preview-view
{
  & :is(.el-h2,
        .el-h3,
        .el-h4,
        .el-h5,
        .el-h6
     ) ~ :is(.el-p, .el-blockquote, .el-table, .el-ul, .el-ol, .el-pre)
  {
    margin-left: 1em !important;
  }
}

/* インデント ： 
   Obsidianで効果なし。
   htmlエクスポートでは効果あり
 */
div.el-h2.heading-wrapper div.heading-children
{
  margin-left: 1em !important;
}
div.el-h3.heading-wrapper div.heading-children
{
  margin-left: 1em !important;
}
div.el-h4.heading-wrapper div.heading-children
{
  margin-left: 1em !important;
}
div.el-h5.heading-wrapper div.heading-children
{
  margin-left: 1em !important;
}
div.el-h6.heading-wrapper div.heading-children
{
  margin-left: 1em !important;
}

/* 
編集画面 (テキスト)
------------------------
場所            指定方法
------------------------
通常の文字                      .CodeMirror pre.CodeMirror-line
                                (.cm-s-obsidian でも可能だがテーマによっては反映されない)
見出し全体                      .cm-header
見出し2を指定                   .cm-header-2 (数値を変更すれば1～6まで指定可能)
見出しの# (編集時)              .cm-formatting-header
**強調 (太字)**                 .cm-s-obsidian .cm-strong
*イタリック (斜体)*             .cm-em
打ち消し線 (~~部分)             .cm-s-obsidian span.cm-formatting-strikethrough
打ち消されたテキスト            .cm-s-obsidian span.cm-strikethrough
ハイライト (==部分)             .cm-s-obsidian span.cm-formatting-highlight
ハイライトされた文字            .cm-s-obsidian span.cm-highlight
引用                            .cm-quote
フロントマターの値部分          .cm-s-obsidian .cm-hmd-frontmatter

編集画面 (その他)
------------------------
場所            指定方法
------------------------
インラインコード                .cm-s-obsidian span.cm-inline-code
コードブロック                  .cm-s-obsidian pre.HyperMD-codeblock
内部リンク                      .cm-s-obsidian span.cm-hmd-internal-link
外部リンク (名称部分)           .cm-s-obsidian span.cm-link
外部リンク (URL部分)            .cm-s-obsidian span.cm-url
タグ 全体 (編集時)              .cm-s-obsidian .cm-hashtag
タグ #部分 (編集時)             .cm-s-obsidian span.cm-hashtag-begin
タグ #以外の部分 (編集時)       .cm-s-obsidian span.cm-hashtag-end
エディタ画面の左右境界線        .CodeMirror-lines

プレビュー画面 (テキスト)
------------------------
場所            指定方法
------------------------
見出し          (一括設定は無し？)
見出し1を指定                   .markdown-preview-view h1
**強調 (太字)**                 .markdown-preview-view strong
*イタリック (斜体)*             .markdown-preview-view em
打ち消し線                      .markdown-preview-view del
ハイライト                      .markdown-preview-view mark
引用                            .markdown-preview-view blockquote
選択中のテキスト                ::selection
水平線                          .markdown-preview-view hr

プレビュー画面 (リンク、コード、タグ)
------------------------
場所            指定方法
------------------------
内部リンク                      .markdown-preview-view a.internal-link
外部リンク                      .markdown-preview-view a.external-link
インラインコード                .markdown-preview-view code
コードブロックの背景            .markdown-preview-view pre
コードブロックの文字            .markdown-preview-view pre code
タグの全体的な見た目            .tag
タグ名「complete」を指定        .tag[href^="#complete"]
タグのピルボックス              a.tag

プレビュー画面 (リスト、チェックボックス)
------------------------
場所            指定方法
------------------------
番号無しリスト 全体             ul
番号無しリストの文字            ul li
番号なしリストのBullet          ul li::marker
番号付きリスト 全体             ol
番号付きリストの文字            ol li
番号付きリストの番号            ol li::marker
チェックボックス (テキスト部)   .markdown-preview-view .task-list-item
テキスト部分 (チェックジ)       .markdown-preview-view ul > li.task-list-item.is-checked
チェックボックスの□部分        input[type=checkbox]
□部分 (チェックされたとき)     input[type=checkbox]:checked

その他
------------------------
場所            指定方法
------------------------
ダークテーマの既定値を設定           .theme-dark
ライトテーマの既定値を設定           .theme-light
アクティブなノートタイトル           .workspace-leaf.mod-active .view-header-title
非アクティブなノートタイトル         .view-header-title
ノートタイトルのアイコン             .view-header-icon
ファイルエクスプローラ > ファイル名  .nav-file-title
ファイルエクスプローラ > フォルダ名  .nav-folder-title
ポップアップ プレビューウインドウ    .popover.hover-popover
タグペイン > タグの名称部分          .tag-pane-tag
タグペイン > 数の表記部分            .tag-pane-tag-count
ツールバー (画面左端のリボン)        .workspace-ribbon.mod-left
画面右端のリボン                     .workspace-ribbon.mod-right
ステータスバー  .status-bar

補足: 代表的な擬似クラス
表記            意味
:root           <html>要素を指す
:not (A)        Aセレクターに一致しない要素
:hover          マウスポインタを合わせたとき
:link           未訪問のリンク
:visited        既に訪問したリンク
:checked        チェックボックスなどがONの状態

*/
